body {
    margin: 20px 100px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 8px;
}

.half-flex {
    /* margin: 50px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.half-flex p {
    margin: 0px;
}

.half-flex h1 {
    margin-bottom: 0px;
}

.half-flex button {
    align-self: flex-start;
}

.half-flex img {
    align-self: center;
}

.row-block-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-block-two {
    margin: 0px 30px;
    text-align: center;
}

.image-captions {
    display: flex;
}



.leaf {
    display: flex;
    width: 70%;
    height: auto;
}